# Environment variables declared in this file are NOT automatically loaded by Pris>
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the >
# to load environment variables from .env files: https://pris.ly/prisma-config-env->

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite>
# See the documentation for all the connection string options: https://pris.ly/d/co>

# PROD
# DATABASE_URL="use-production-db-url>

# DEV
NEXT_PUBLIC_APP_NAME="LOMS"

# Without Docker
# DATABASE_URL="postgresql://root:secret@localhost:5432/homestead?schema=public"

# With Docker
DATABASE_URL="postgresql://root:secret@loms-db:5432/homestead?schema=public"
PASSWORD_SALT="your-secure-password-salt-here-change-this"
NODE_ENV="development"
JWT_SECRET=jeBnpd4TdryTL0mP0k5/cHA8/lS3zxacwAgY9Pi2MHA=
JWT_REFRESH_SECRET=JBNreov1NJ0HqCcinCzliavgBHSZzxn7LkkTpYGnB1I=

SUPER_ADMIN_PASSWORD=ChangeMeImmediately!
